.code-container {
  width: 100%;
  position: relative;
  margin: 0;
  padding-left: 15px;
}

.code-title {
  background-color: #373b3b;
  color: #f8f8f2;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  font-family:
    Optimistic Display,
    -apple-system,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 14px;
  overflow-x: auto;
}

.code-icon {
  float: left;
  width: 1em;
  height: 1.2em;
}

.code-title-text {
  float: left;
  padding-left: 5px;
  font-size: 12px;
  font-family: "Monospace", monospace;
  width: 1em;
  height: 1.2em;
}

.code-title-left {
  float: left;
  font-size: 12px;
  font-family: "Monospace", monospace;
  width: 1em;
  height: 1em;
}

.code-copy {
  float: right;
  width: 5%;
  font-family:
    Optimistic Text,
    -apple-system,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 12px;
  height: auto;
}

.code-snippet {
  background-color: #d3cccc;
  color: #63634f;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  border: #3b3d25;
  font-family: "Monospace", monospace;
  font-size: 16px; /* Slightly larger font size for readability */
  overflow-x: auto; /* Enable horizontal scrolling for long lines */
  white-space: pre-wrap; /* Allow wrapping for long lines */
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
