.footer {
  border-top: 3px solid var(--border2);
  width: 100%;
  position: sticky;
  z-index: 1;
  bottom: 0px;
  display: grid;
  background-color: var(--surface3);
  text-align: center;
  white-space: pre;
  font-family: var(--font);
}

.footer a {
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}
