.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  gap: 10px;
  display: flex;
  background: var(--surface2);
  background-size: 80px 140px;
  background-position:
    0 0,
    0 0,
    40px 70px,
    40px 70px,
    0 0,
    40px 70px;
}

.header-link {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 8px 10px 8px 10px;
  border: none;
  font-size: var(--charsize3);
  font-family: var(--font);
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  color: var(--letters3);
  text-align: right;
  align-items: center;
}

.header ul {
  justify-content: right;
  width: 80%;
  display: flex;
  padding-top: 20px;
  padding-right: 100px;
}

.header li {
  display: inline-block;
  text-decoration: none;
  margin: 0 12px;
  padding-bottom: 12px;
}

.logo {
  align-items: center;
  padding-left: 100px;
  width: 20em;
  height: 5em;
}

.logo h3 {
  padding: 20px 30px 20px 100px;
  justify-content: left;
  height: 6em;
}

@media (max-width: 768px) {
  .header ul {
    width: 30%;
    padding-left: 280px;
    justify-content: right;
    margin: 0 2px;
    padding-bottom: 4px;
  }
  .logo {
    width: 5em;
    padding-left: 10px;
  }
}

@media (min-width: 1024px) {
  .header ul {
    width: 100%;
  }
}
