*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border: #cdced3;
  --font: "Optimistic Display - 700";
  --transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  background-color: #f4f5f3;
  padding: 15px 10px 15px 10px;
  margin-left: 40px;
  position: sticky;
  width: 90%;
  text-align: left;
  border: 1px solid var(--border);
  transition: width var(--transition);
}

.info ul {
  position: relative;
  margin: 0;
  padding-left: 40px;
}

.info li {
  padding-top: 10px;
}
