*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --radius: 10px;
  --font:
    Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --surface1: #fefeff;
  --surface2: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
  --surface3: #92929880;
  --border1: #2a3050;
  --border2: #aeaed080;
  --letters1: #02020a;
  --letters2: #303030;
  --letters3: white;
  --charsize1: clamp(1.5rem, 4vw, 3rem);
  --charsize2: clamp(1.2rem, 3vw, 2rem);
  --charsize3: clamp(1rem, 2vw, 1.5rem);
  --charsize4: clamp(0.7rem, 1vw, 1rem);
  --transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font);
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  font-family: var(--font);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left-bottom-arrow {
  padding-top: 4px;
  float: left;
  position: relative;
}

.right-bottom-arrow {
  padding-top: 4px;
  float: right;
  position: relative;
}

.left-bottom-link {
  float: left;
  text-decoration: none;
}

.right-bottom-link {
  float: right;
  text-decoration: none;
}

@media (max-width: 768px) {
  .left-bottom-arrow {
    padding-bottom: 12px;
    font-size: var(--charsize3);
  }
  .right-bottom-arrow {
    padding-bottom: 12px;
    font-size: var(--charsize3);
  }
  .left-bottom-link {
    font-size: var(--charsize4);
  }
  .right-bottom-link {
    font-size: var(--charsize4);
  }
}
