.page {
  padding: 80px 40px 30px 20px;
  position: sticky;
  width: 90%;
  display: inline;
  font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.page h1 {
  padding: 20px 40px 30px 20px;
}

.page h3 {
  padding: 20px 20px 20px 20px;
}

.page p {
  padding: 10px 30px 10px 20px;
}

.page ul {
  position: relative;
  margin: 0;
  padding-left: 40px;
}

.page li {
  padding-top: 10px;
}

.page-link {
  color: #7f7c7c;
  text-decoration: none;
}
